/* ==============================
   Root and Global Styles
   ============================== */

/* Base root styles for fonts, line heights, and colors */
:root {
  font-family: 'Caveat', cursive, 'Architects Daughter', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-synthesis: none;

  /* Color scheme and text rendering */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-rendering: optimizeLegibility;

  /* Font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}

/* Global body styles */
body {
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scroll */
  
}



/* ==============================
   Typography
   ============================== */

/* Heading 1 styles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* ==============================
   Component Specific Styles
   ============================== */

/* Styles for slick slides */
.slick-slide {
  padding: 0 5px;
  box-sizing: border-box;
  max-height: 400px;
}

.slick-slide img {
  justify-content: center;
  align-items: center;
  width: auto;  /* Changed from 100% */
  max-width: 100%; /* Added to prevent overflow */
  display: block;
}

.slick-track {
  display: flex;
  align-items: center;
}

.css-9mc7sf-MuiInputAdornment-root.MuiInputAdornment-positionStart.css-9mc7sf-MuiInputAdornment-root:not(.MuiInputAdornment-hiddenLabel) {
  margin-top: 0 !important;
}

.css-es1obo.MuiInputAdornment-positionStart.css-es1obo:not(.MuiInputAdornment-hiddenLabel) {
  margin-top: 0 !important;
}


/* .css-9mc7sf-MuiInputAdornment-root {
  height: auto !important;
  max-height: none !important;
} */



/* ==============================
   Media Queries
   ============================== */

/* Light color scheme */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* Button styles in light mode */
  button {
    background-color: #f9f9f9;
  }


}

